<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <ul>
        <% categories.forEach(function(category) { %>
            <li><a href="/categories/<%= category.category_id %>"><%= category.nametag %></a></li>
        <% }); %>
    </ul>
</body>
</html>
