<!DOCTYPE html>
<html>
<head>
    <title>EduGame</title>
</head>
<body>
    <h1>Welcome to EduGame!</h1>
    <p>Choose an option:</p>
    <ul>
        <li><a href="/games">View Games</a></li>
        <li><a href="/categories">View Categories</a></li>
        <li><a href="/favorites">View Favorite Games</a></li>
    </ul>
</body>
</html>
