<!DOCTYPE html>
<html>
<head>
    <title>Member Details</title>
</head>
<body>
    <h1>Member Details</h1>
    <p>Member ID: <%= member.member_id %></p>
    <p>Favorite Games: <%= member.favorite_games %></p>
</body>
</html>
