body {
    transform-origin: top left;
    transform: scale(0.95); 
  }
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; 
  }
  
  #content {
    max-width: 100%;
    max-height: 100%;
  }  
.favorite,
.favorite * {
  box-sizing: border-box;
}
.favorite {
  background: #171a21;
  width: 1440px;
  height: 1745px;
  position: relative;
  overflow: hidden;
}
.frame-141 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 53px;
  top: 1px;
}
.rectangle-23 {
  background: #171a21;
  flex-shrink: 0;
  width: 1327px;
  height: 80px;
  position: relative;
}
.group-27 {
  flex-shrink: 0;
  width: 1320px;
  height: 58px;
  position: static;
}
.rectangle-2 {
  background: #2c313d;
  width: 1px;
  height: 40px;
  position: absolute;
  left: 302px;
  top: 89px;
}
.rectangle-5 {
  background: #2c313d;
  width: 1px;
  height: 40px;
  position: absolute;
  left: 1239px;
  top: 89px;
}
.rectangle-4 {
  background: #2c313d;
  width: 1320px;
  height: 1px;
  position: absolute;
  left: 7px;
  top: 80px;
}
.rectangle-6 {
  background: #2c313d;
  width: 1320px;
  height: 1px;
  position: absolute;
  left: 7px;
  top: 137px;
}
.search {
  color: #eceff4;
  text-align: left;
  font: 400 16px "SF Pro Display", sans-serif;
  opacity: 0.4000000059604645;
  position: absolute;
  left: 356px;
  top: 99px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 63px;
  top: 99px;
}
.games {
  color: #eceff4;
  text-align: left;
  font: 400 16px "SF Pro Display", sans-serif;
  position: relative;
}
.favorites {
  color: #78abff;
  text-align: left;
  font: 400 16px "SF Pro Display", sans-serif;
  position: relative;
}
.history {
  color: #eceff4;
  text-align: left;
  font: 400 16px "SF Pro Display", sans-serif;
  position: relative;
}
.burger {
  position: absolute;
  left: 15px;
  top: 97px;
  overflow: visible;
}
.search2 {
  position: absolute;
  left: 324px;
  top: 97px;
  overflow: visible;
}
.xmlid-1 {
  flex-shrink: 0;
  width: 132.71px;
  height: 39.88px;
  position: static;
}
.xmlid-2 {
  position: absolute;
  left: 6.8px;
  top: 59.23px;
  transform: translate(0px, -39.88px);
  overflow: visible;
}
.frame-33 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 52.47px;
  top: 30.89px;
  overflow: visible;
}
.frame-7 {
  padding: 0px 14px 0px 14px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 52px;
  position: absolute;
  left: 1239px;
  top: 82px;
}
.frame {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.login {
  color: #e7e7e7;
  text-align: left;
  font: 400 12px "SF Pro Display", sans-serif;
  position: relative;
}
.favorites-game {
  color: #f5f5f5;
  text-align: left;
  font: 700 40px "SF Pro Display", sans-serif;
  position: absolute;
  left: 60px;
  top: 178px;
}
.frame-250 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 59px;
  top: 266px;
}
.frame-40 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gamev-1 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 213px;
  height: 284px;
  position: relative;
}
.game-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 213px;
  position: relative;
}
.title-1 {
  color: #f5f5f5;
  text-align: center;
  font: 500 16px "SF Pro Display", sans-serif;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gamev-2 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 213px;
  height: 284px;
  position: relative;
}
.game-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 213px;
  position: relative;
}
.title-2 {
  color: #f5f5f5;
  text-align: center;
  font: 500 16px "SF Pro Display", sans-serif;
  position: relative;
  width: 213px;
}
.frame-42 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gamev-3 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 213px;
  height: 284px;
  position: relative;
}
.game-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 213px;
  position: relative;
}
.title-3 {
  color: #f5f5f5;
  text-align: center;
  font: 500 16px "SF Pro Display", sans-serif;
  position: relative;
  width: 213px;
}
.frame-142 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gamev-4 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 213px;
  height: 284px;
  position: relative;
}
.game-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 213px;
  position: relative;
}
.title-4 {
  color: #f5f5f5;
  text-align: center;
  font: 500 16px "SF Pro Display", sans-serif;
  position: relative;
}
